.vs/
ApiAspNetCore/ApiAspNetCore.Api/bin/
ApiAspNetCore/ApiAspNetCore.Api/obj/
ApiAspNetCore/ApiAspNetCore.Dominio/bin/
ApiAspNetCore/ApiAspNetCore.Dominio/obj/
ApiAspNetCore/ApiAspNetCore.Infra.Data/bin/
ApiAspNetCore/ApiAspNetCore.Infra.Data/obj/
ApiAspNetCore/ApiAspNetCore.Test/bin/
ApiAspNetCore/ApiAspNetCore.Test/obj/

ApiAspNetCore/.vs/ApiAspNetCore/v16/.suo
ApiAspNetCore/ApiAspNetCore.Api/obj/ApiAspNetCore.Api.csproj.nuget.dgspec.json
ApiAspNetCore/ApiAspNetCore.Api/obj/ApiAspNetCore.Api.csproj.nuget.g.props
ApiAspNetCore/ApiAspNetCore.Api/obj/Debug/netcoreapp2.1/ApiAspNetCore.Api.assets.cache
ApiAspNetCore/ApiAspNetCore.Api/obj/Debug/netcoreapp2.1/ApiAspNetCore.Api.csprojAssemblyReference.cache
ApiAspNetCore/ApiAspNetCore.Api/obj/project.assets.json
ApiAspNetCore/ApiAspNetCore.Api/obj/project.nuget.cache